# Conda
conda-meta/
.conda/

# Python
__pycache__/
*.py[cod]
*.pyo

# Sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bam.bai
*.bw
*.bigWig

# Pipeline output directories
fastq-files/
trimmed-files/
staralign-bam-files/
crosslink_nt/
peak-files/

# Logs and temporary files
*.log
*.tmp
*.temp

# OS/editor files
.DS_Store
.vscode/
.idea/

# R session files
.Rhistory
.RData
.Ruserdata


# Large reference genome/annotation files
genome_files/GRCh38/*.fa
genome_files/GRCh38/*.gtf
genome_files/GRCh38/*.gff3
genome_files/GRCh38/*.csv

# Large reference/genome files
genome_files/
rrna-files/
